.container {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  max-width: 600px;
  margin: 10px auto;
}
.weather-app-wrapper {
  max-width: 5000px;
  margin: 10px auto;
  border: 2px solid #dadde1;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  border-radius: 50px;
}
.weather-app {
  padding: 30px 10px 30px 25px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 35px;
  font-weight: 600;
  padding: 5px;
}

h2 {
  margin-top: 0px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  color: rgb(136, 136, 136);
}

h3 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 500;
  padding: 5px;
  text-align: left;
}
h4 {
  position: relative;

  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 45px;
  font-weight: 600;
  padding: 5px;
}

.units {
  color: rgb(11, 11, 11);
  font-size: 20px;
  font-weight: 550;
}

.box--location {
  background: rgb(255, 255, 255, 0.4);
  border-radius: 1.35rem;
  padding: 0.8rem 1.2rem;
  color: black;
  text-align: center;
  border: none;
  transition: all 0.5s ease;
  margin: 70px 70px 20px 81px;
}
.box--current-weather {
  background: rgb(255, 255, 255, 0.4);

  border-radius: 1.35rem;
  padding: 0.8rem 1.2rem;
  color: black;
  text-align: center;
  border: none;
  transition: all 0.5s ease;
}

.search-position {
  position: absolute;
  width: 52%;
  right: 0;
}

.search-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.search-buttons .btn-1 .btn-2 {
  margin: 0px;
  padding: 0px;
}
.icon-current {
  position: relative;
  left: 50px;
}

.temperature a {
  color: rgb(11, 11, 11);
  text-decoration: none;
  cursor: default;
  text-decoration-line: none;
}

.weather-data-details {
  padding: 5px;
}
.icon-humidity,
.icon-windspeed {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.line-break {
  border-top: thin solid #178aa5;
  margin-top: 20px;
  max-width: 527px;
}

.card-body {
  background: rgb(255, 255, 255, 0.4);
  max-height: 130px;
  width: 90px;
  margin-top: 10px;
  padding: 22px 8px;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgb(57, 127, 142, 0.3);
  text-align: center;
  font-size: 12.5px;
}
.weather-forecast-temperature-min {
  color: rgb(136, 136, 136);
}

.footer {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}
