.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  max-width: 950px;
}
.weather-app-wrapper {
  max-width: 2000px;
  margin: 10px auto;
  border: 2px solid #dadde1;
  background: radial-gradient(
    circle at 14.2% 27.5%,
    rgb(104, 199, 255) 0%,
    rgb(181, 126, 255) 90%
  );
}
.weather-app {
  padding: 20px;
  border-radius: 5px;
}
h1 {
  margin: 38px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 40px;
  font-weight: 600;
  padding: 5px;
}

h2 {
  margin: 38px;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 500;
  padding: 5px;
}

h3 {
  position: relative;
  bottom: 150px;
  left: 500px;
  font-size: 30px;
  font-weight: 545;
}
.search-bar {
  padding: 30px;
}
.main {
  position: relative;
  left: 18px;
}
.temperature {
  position: relative;
  left: 50px;
  font-size: 70px;
  font-weight: 550;
}

.units {
  position: relative;
  color: rgb(11, 11, 11);
  bottom: 45px;
  left: 55px;
  font-size: 25px;
  font-weight: 550;
}

.details {
  position: relative;
  bottom: 140px;
  left: 500px;
  font-size: 20px;
}

.accordion {
  position: relative;
  bottom: 100px;
  margin: 0 aut0;
  padding: 0px;
}
.weather-temperature a {
  color: rgb(11, 11, 11);
  text-decoration: none;
  cursor: default;
  text-decoration-line: none;
}
